<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ggv"> 
   <select id="package_information" parameterType="String" resultType="com.hb.db.P_VO">
   		select * from ggv_package where package_idx=#{idx}
   </select>
   
    <select id="q_list" parameterType="Map" resultType="com.hb.db.Q_VO">
   		select * from ggv_question where type='ask' order by QUESTION_IDX
   </select>
   <select id="login" parameterType="Map" resultType="com.hb.db.Member_VO">
   		select * from ggv_member where member_id = #{member_id} and pwd = #{pwd}
   </select>
   <update id="info_update" parameterType="com.hb.db.Member_VO">
   		update ggv_member set addr = #{addr}, phone = #{phone}, email_addr = #{email_addr} where pwd = #{pwd} and member_id = #{member_id}
   </update>
</mapper>














